{
  "parser": "@typescript-eslint/parser",
  "extends": ["@open-wc", "prettier"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unneeded-ternary": "off",
    "prefer-destructuring": "off",
    "camelcase": "off",
    "no-empty-function": "off",
    "no-param-reassign": "off",
    "no-useless-constructor": "off",
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "no-return-assign": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/no-unresolved": "off",
    "consistent-return": "off",
    "default-case": "off",
    "no-console": "off",
    "import/no-duplicates": "off",
    "no-case-declarations": "off",
    "no-shadow": "off",
    "no-alert": "off",
    "prefer-template": "off",
    "no-await-in-loop": "off",
    "no-empty": "off",
    "no-nested-ternary": "off",
    "prefer-arrow-callback": "off"
  }
}
